HTTP_PORT=
HTTP_HOST=

APP_ENV=
APP_EMAIL=

#DATABASE_URL=postgresql://root:app123@db:5432/bookdb?schema=public

## DEV COMPOSE FILE ##
DATABASE_URL=postgresql://root:app123@db:5432/nbookdb?schema=public

TEMP_URL={"TEMP_URL": "https://tempurl.com"}

## FOR MIGRATIONS ##
#DATABASE_URL=postgresql://root:app123@localhost:5439/nbookdb?schema=public

## AWS RDS ##


MAIL_USER=
MAIL_SECRET=

REDIS_HOST=
REDIS_PORT=

MAX_REQUEST_HIT=
MAX_REQUEST_HIT_EXPIRATION_TIME_IN_MILLI_SECONDS=

PASSWORD_MAX_REQUEST_LIMIT=

AUTH_JWT_ACCESS_TOKEN_SECRET_KEY=
AUTH_JWT_ACCESS_TOKEN_EXPIRED=

EMAIL_VERIFICATION_TOKEN_EXPIRED_IN_SECONDS=
EMAIL_VERIFICATION_TOKEN_SECRET_KEY=
FRONT_END_BASE_URL=